[submodule "common"]
	path = common
	url = https://github.com/sclorg/container-common-scripts.git
[submodule ".pipeline"]
	path = .pipeline
	url = https://github.com/bcgov/cas-pipeline.git
	branch = feature/cas-postgres
