[submodule ".pipeline"]
	path = .pipeline
	url = https://github.com/bcgov/cas-pipeline.git
[submodule "test/helpers/shellmock"]
	path = test/helpers/shellmock
	url = https://github.com/capitalone/bash_shell_mock
