kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-database-migration
  labels:
{{ include "patroni-migration.labels" . | indent 4 }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "-200"
    "helm.sh/hook-delete-policy": "hook-succeeded,hook-failed,before-hook-creation"
  namespace: {{ .Release.Namespace }}
imagePullSecrets:
  - name: dockerhub-registry
